/* slide-in-left animations */
.slide-in-left-enter {
  transform: translateX(-100%);
  opacity: 0;
}
.slide-in-left-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: all 200ms ease-out;
}
.slide-in-left-exit {
  transform: translateX(0);
  opacity: 1;
}
.slide-in-left-exit-active {
  transform: translateX(-100%);
  opacity: 0;
  transition: all 200ms ease-in;
}

.side-drawer {
  position: fixed;
  top: 0;
  left: 0;
  width: 70%;
  height: 100%;
  background: white;
  box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
  z-index: 100;
}
